---
import Project from './Project.astro';
import {projects} from '../data/projects'
---
<section id="projects" class="py-8 px-4">
    <div class="container">
        <div class="flex flex-wrap w-full">
            <div class="w-full self-start mx-auto md:px-16">
                <h4 class="font-bold uppercase text-primaryText text-2xl">
                    Projects</h4>
                <div class="grid md:grid-cols-3 gap-5 mt-2">
                    {
                        projects.map(project => (
                            <Project title={project.title} image={project.image}
                                     desc={project.desc} source={project.source}/>
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</section>
